accelerate
datasets
evaluate
flask
gTTS
joblib
jupyter
librosa
matplotlib
numpy
onnx
onnxruntime
openpyxl
pandas
pydub
PyYAML
requests
scikit-learn
scipy
sounddevice
soundfile
streamlit
torch
torchaudio
tqdm
transformers
