PROJECT_ROOT=.
RAW_AUDIO_DIR=data/raw_audio
PROCESSED_AUDIO_DIR=data/processed_audio
METADATA_XLSX=data/metadata/raw_metadata.xlsx
METADATA_CSV=data/metadata/metadata_clean.csv
MODEL_DIR=models
REPORTS_DIR=reports
